.GameButton {
  position:relative;
  width: 5vw;
  height: 5vw;
  border-radius: 5vw;
  margin: 0.5vw;
}

.hidden {
  color: black;
  font-size: 4vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.SubmitButton {
  position:absolute;
  width: 6vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: white;
  border-radius: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
  transition: 0.2s;
}

.invisible {
  background-color: black;
  color: black;
  cursor: default;
}

.SubmitButton:hover {
  transform: scale(1.1);
}

.SubmitButton:active {
  transform: scale(1);
}
  
.arrow {
  position: absolute;
  top: 0%;
  color: white;
  font-size: 3vw;
  cursor: pointer;
  transition: 0.2s;
}

.left {
  right: 100%;
}

.right {
  left: 100%;
}

.arrow:hover {
  transform: scale(1.3);
}

.arrow:active {
  transform: scale(1.0);
}

.inactive {
  opacity: 0.3;
  cursor: default;
}

.inactive:hover {
  transform: scale(1);
}

.small {
  transform: scale(0.75);
}

.shuffle-button {
  font-size: 1.3vw;
}
